body {
    background-color: rgb(174, 255, 248);
}

.disabled {
    cursor: no-drop !important; 
    background-color: aliceblue !important;
    color: darkgray !important;
}

div.container {
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    background: #F2F2F2;
    border: 5px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
    border-radius: 12px/24px;
    border-style: double;
}

div.inside-container {
    width: 390px;
    height: 50px;
    border: 1px solid black;
    display: block;
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 2em;
    border-radius: 6px/12px;
    border-style: dashed;
    background-color: white;
    margin-left: 4px;
}

span.ch {
    position: absolute;
    margin-top: 8px;
    left: 40%;
    /* color: crimson; */
}

div.scoreboard {
    top: 69%;
    position: absolute;
    left: 15%;
    text-align: center;
    width: 1140px;
}

div#left-player {
    top: 20%;
    left: 18%;
}

div#right-player {
    top: 20%;
    left: 52%;
}

button.sc-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
}

p#winner {
    font-size: 4em;
    color: yellowgreen;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 42%;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.layout {
    width: 100%;
    height: 100%;
    position: fixed;
    background: 'gray no-repeat center';
    z-index: 10001;
    cursor: wait;
    overflow: hidden!important;
}

div#lp-score {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 65%;
    left: 18%;
    font-size: 30px;
    color: maroon;
}

div#rp-score {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 65%;
    left: 52%;
    font-size: 30px;
    color: maroon;
}

div#rpc1 {
    top: 25%;
}

div.rpc1 {
    top: 25%;
}

div.rpc3 {
    top: 55%;
}